@charset "UTF-8";
/*------------------------------------*\
    YOUR-PROJECT.CSS
\*------------------------------------*/
/**
 * 
 * stylus --watch your-project.styl
 * stylus --compress < your-project.styl > your-project.min.css 
 * 
 * Here we set up some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "inuit-css/inuit";


/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */
